.app {
  background: #0F0D15;
  position: fixed;
  left: 0;
  top: 0;
  width: 1920px;
  height: 1080px;
}

.home {
  width: 1660px;
  display: block;
  margin: 0 auto;
}

.slider_list {
  transform: translateY(330px);
  transition: 0.1s all linear;
}

.category_title {
  color: #fff;
  font-size: 30px;
  padding: 0 10px;
  margin-bottom: 20px;
}

.category_box {
  overflow: hidden;
  height: 420px;
  margin-bottom: 50px;
}

.carousel {
  display: block;
}

.movie_item {
  width: 13%;
  margin: 0 10px;
  display: inline-block;
  vertical-align: top;
}

.movie_item img {
  width: 100%;
}

.movie_item.active {
  width: 26%;
  height: 370px;
  background: #111018;
  padding: 10px;
}

.movie_details {
  color: #fff;
  padding: 0 20px;
}

.movie_details_title {
  font-size: 26px;
  height: 34px;
  overflow: hidden;
  margin-bottom: 20px;
}

.movie_description {
  font-size: 22px;
  height: 180px;
  overflow: hidden;
}

.movie_item.active .movie_poster {
  width: 45%;
  display: inline-block;
  vertical-align: top;
}

.movie_item.active .movie_details {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.movie_title {
  color: #fff;
  font-size: 26px;
  height: 38px;
  overflow: hidden;
}

.playerFullScreen {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 100vh;
  background: black;
}